@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Departure Mono Regular";
  src: url("./fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* --text-color: #3b3b41; */
  --text-color: #000;
  --background-color: #fff;
  --link-color: #0070f3;
  --button-bg: #000;
  --btntxt-color: #fff;
  --cement: #c0c0c0;
  --carbon: #222222;
  --clay: #6c6c58;
}

[data-theme="dark"] {
  --text-color: rgba(255, 255, 255, 0.8);
  --background-color: #000;
  --link-color: #0070f3;
  --border-color: #333333;
  --button-bg: #fff;
  --btntxt-color: #000
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  background: var(--carbon);
  color: var(--cement);
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

* {
  border-color: var(--clay);
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.concol {
  padding: 20px 65px;
  max-width: 1400px;
}

#keeb {
  white-space: pre;
  color: var(--clay);
  line-height: 1.2;
}

.mwb {
  background: var(--button-bg);
  color: var(--btntxt-color);
}

.imgGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.inf {
  --notch: 48px;
  clip-path: polygon(0 0, calc(100% - var(--notch)) 0, 100% var(--notch), 100% 100%, 0 100%, 0 0);
  background-color: var(--cement);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@media only screen and (max-width: 630px) {
  body {
    font-size: 14px;
  }

  .concol {
    padding: 20px;
  }

  .procon {
    width: 100%;
    flex-direction: column;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  #keeb {
    display: none;
  }

  .prinfo {
    flex-direction: column;
    align-items: left;
    gap: 13px;
  }

  .projs,
  .cont {
    width: 100% !important;
  }

  .lnks {
    gap: 10px;
  }

  .vh {
    display: none;
  }

  .hh {
    height: 1px;
    width: 100%;
    background: var(--border-color);
  }

  .bb {
    top: 1.5px;
  }
}
