@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Departure Mono Regular";
  src: url("./fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --link: #0070f3;
  --bg: #031219;
  --snd-bg: #002c38;
  --title: #258bd3;
  --hover: #002c38;
  --cement: #808f91;
  --border: #002c38;
  --cyan: #28a298;
  --orange: #b74616;

}

html {
  height: 100%;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--cement);
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

* {
  border-color: var(--border);
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.concol {
  padding: 20px 65px;
  max-width: 1400px;
}

#keeb {
  white-space: pre;
  color: var(--cyan);
  line-height: 1.2;
}

.mwb {
  background: var(--button-bg);
  color: var(--btntxt-color);
}

.imgGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.inf {
  --notch: 48px;
  clip-path: polygon(0 0, calc(100% - var(--notch)) 0, 100% var(--notch), 100% 100%, 0 100%, 0 0);
  background-color: var(--snd-bg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.ph {
  display: none;
}

@media only screen and (max-width: 630px) {
  body {
    font-size: 14px;
  }

  .concol {
    padding: 20px;
  }

  .pc {
    display: none;
  }

  .ph {
    display: flex;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  #keeb {
    display: none;
  }

  .prinfo {
    flex-direction: column;
    align-items: left;
    gap: 13px;
  }

  .projs,
  .cont {
    width: 100% !important;
  }

  .lnks {
    gap: 10px;
  }

  .vh {
    display: none;
  }

  .hh {
    height: 1px;
    width: 100%;
    background: var(--border-color);
  }

  .bb {
    top: 1.5px;
  }
}
